

body{
    background-image: url(/fotos/banner1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    .bienvenida{
        text-align: center;
        height: 85vh;
        margin-top: 5rem;
        font-family: 'IBM Plex Serif', serif;
        /* padding-left: 2rem;
        padding-right: 2rem; */
        
        h1{
            font-size: 3rem;
            
            
        }
        p{
            color: rgba(27, 26, 27, 0.918);
            font-weight: 700px;
            line-height: 5rem;
            margin-top: 3rem;
            font-size: 2rem;
            
        }
        
    
    }

}