.pieDePagina {
    width: auto;
    background-color: rgba(54, 51, 54, 0.856);
    height: auto;

    .grupo2 {
        background-color: #0a1a2a;
        padding: 15px 10px;
        text-align: center;
        color: #fff;
    }

    .grupo1 {
        width: auto;
        max-width: 1000px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 5rem;
        padding: 1rem 0;

        .box {

            figure {
                width: 100;
                height: 100;
                display: flex;
                justify-content: center center;


                img {
                    width: 50px;
                }
            }

            h2 {
                color: white;
                margin-bottom: 3rem;
                font-size: 1rem;
            }

            p {
                color: #efefef;
                margin-bottom: 3rem;
            }

            .redes {
                a {
                    display: inline-block;
                    text-decoration: none;
                    width: 45px;
                    height: 45px;
                    line-height: 45px;
                    color: rgb(255, 160, 234);
                    margin-right: 10px;
                    background-color: rgba(125, 135, 165, 0.692);
                    text-align: center;
                    transition: all 300ms ease;

                    &:hover {
                        color: blue;
                    }
                }

            }
        }
    }
}